


#Folder

.vs/

x64/
ipch/
[Dd]ebug
[Rr]elease

[Oo]bj
[Ll]ibrary
#[Pp]rojectSettings
[Tt]emp
sample

Log/
[Tt]est






#File

*.exe
#*.dll
*.db
*.ilk
*.pdb
*.iobj
*.ipdb
*.map
*.opendb
*.suo
*.sdf
*.config
*.manifest
*.~ml
~$*


server/bin/*
!server/bin/config/